/*Header styles*/

#header_content h1 {
    font-size: 3em;
    width: 70vw;
}

/*Main styles*/

#bloc {
    height: 662px;
}

#bloc div {
    min-width: 620px;
}

#bloc p {
    max-width: 620px;
}

#testimonial_text {
    margin: auto;
    width: 990px;
}

#form {
    margin: auto;
    max-width: 1290px;
    padding: 40px;
    grid-template-columns: 1fr 1fr;
}

/*Fonts sizes*/

.font_18 {
    font-size: 4em;
}

.font_09 {
    font-size: 2.2em;
}