/*Header styles*/

#header_content h1 {
    font-size: 2em;
    width: 70vw;
}

#header_content section {
    width: 50vw;
}

/*Main styles*/

#bloc div{
    max-width: 300px;
}
#bloc p{
    max-width: 300px;
}

#form{
    grid-template-columns: 3fr 2fr;
}

#links{
    grid-template-columns: 1fr 1fr;
}